@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:wght@400;500&display=swap");

:root {
  color-scheme: only light;
}

body {
  min-height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 50C27.6142 50 50 27.6142 50 0' stroke='%232dabac' stroke-opacity='0.05'/%3E%3Cpath d='M50 100C77.6142 100 100 77.6142 100 50' stroke='%23f89f3c' stroke-opacity='0.05'/%3E%3C/svg%3E");
  background-attachment: fixed;
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  display: inline-flex;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

::selection {
  background-color: theme("colors.brand.200");
  color: theme("colors.brand.900");
}
